<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css" />
    <title><%= title %></title>
  </head>
  <style>
    #a{
    color: brown;
    margin-left: 370px;
    font-size: 60px;
    margin-top: 70px;
    }
    #b{
      background-color: aqua;
      margin-right: 250px;
    }
  </style>
  <body class="bg-gray-50">
    <nav>
      <div
        class="container flex flex-wrap items-center justify-between mx-auto"
      >
        <a href="/" class="py-2 px-4 flex items-center">
          <span
            class="self-center text-xl font-semibold whitespace-nowrap text-blue-800"
            <div id="a">
              Eelection-Voting</div>
          >
        </a>
      </div>
    </nav>
    <div>
      <% if (messages && messages.error && messages.error.length > 0) { %>
          <% for(var i=0; i<messages.error.length; i++) { %>
              <p class="bg-blue-100 my-3 list-none rounded-md px-4 py-2"><%= messages.error[i] %></p>
          <% } %>
      <% } %>
  </div>
    <div class="grid grid-cols-7">
      <div class="col-start-3 col-span-3">
        <p class="py-1 mb-6 text-3xl" id="b">Welcome to Online Voting App</p>
        <div id="form-wrapper">
          <p class="py-1 text-xl">
            Register here? <a class="text-blue-600" href="/signup"><u>Sign-up</u></a>
          </p>
          <p class="py-1 text-xl">
            Already have an account?
            <a class="text-blue-600" href="/login"><u>Sign-in</u></a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>